@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0f172a;
    /* Fallback Slate 950 */
    color: #ffffff;
    /* Fallback White */
    @apply bg-slate-950 text-white antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}